body{
    background-color: grey;
    color: black;
   
}
.h1GitHub{
    color: blue;
    
}
.image{
    background-image: url("imkage.jpg");
}
h3{
    color: red;
}
.imageStudent{
    border: 3px;
    border-color: black;
}
